/* Start of Almushaf page styles */

body {
    overflow: hidden;
}
#main {
    padding-top: 75px;
    display: grid;
    grid-template-areas: 
    'sidebar maincontent maincontent maincontent maincontent' 
    ;
    height: 100vh;
}
#main > .sidebar {
    grid-area: sidebar;
    overflow-y: scroll;
    overflow-x: hidden;
}
#main > .sidebar > h3 {
    padding: 13px 15px;
    width: 100%;
    background-color: var(--secondaryColor);
    color: var(--addColor);
}
#main > .sidebar > .fehras > .surah-name {
    background-color: #FEECD7;
    color: #000;
    padding: 13px 15px;
    font-family: var(--secondFont);
    font-size: 1.1rem;
    cursor: pointer;
}
#main > .sidebar > .fehras > .surah-name:hover {
    background-color: #fff;
}
#main > .maincontent {
    grid-area: maincontent;
    font-family: var(--secondFont);
    font-size: 2rem;
    text-align: center;
    padding: 0 5px;
    overflow: auto;
    line-height: 250%;
}
#main > .maincontent > .alsurah {
    width: 90%;
    margin: 0 auto;
}
#main > .maincontent > .alsurah  > .ayah-number {
    color: var(--secondaryColor);
}
#main > .maincontent .basmala {
    margin: 0 auto;
    font-weight: 700;
    font-size: 2.2rem;
    padding: 30px 0;
}

/* End of Almushaf page styles */